<!DOCTYPE html>
<html xmlns:fb="//ogp.me/ns/fb#" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
	<title><%= app.name %></title>
	<link href="about/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="about/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
	<link rel="stylesheet" href="stylesheets/flexslider.css" media="Screen" type="text/css" />
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/humanity/jquery-ui.css" media="Screen" type="text/css" />

	<meta property="og:title" content="<%= app.name %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= url() %>" />
	<meta property="og:image" content="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/601345_301080403352396_292947652_n.png" />
	<meta property="og:site_name" content="<%= app.name %>" />
	<meta property="og:description" content="ShyTap - Check if your secret crush likes you too." />
	<meta property="fb:app_id" content="<%= app.id %>" />

	<!--[if IE]>
	<script type="text/javascript">
		var tags = ['header', 'section'];
		while(tags.length)
			document.createElement(tags.pop());
	</script>
	<![endif]-->
</head>
<body>
	<div id="fb-root"></div>

	<input type="hidden" name="accessToken" id="accessToken" value="<%- req.token ? req.token : '' %>"/>
	<input type="hidden" name="uid" id="uid" value="<%- req.body.uid %>"/>

	<a name="topAnchor"></a>
	<header class="clearfix">
		<div class="container">
			<div class="row">
				<div class="span4">
					<img id="logo" src="../images/logo.png" width="200" height="67" alt="ShyTap Logo"/>
				</div>
				<div class="span8" id="headerContainer">
					<h1>Welcome!</h1>
					<p class="tagline">ShyTap is an app that lets you see if your secret crush likes you too. Log in using your Facebook account.</p>
					<div class="fb-login-button" id="openLogin"></div>
				</div>
			</div>
		</div>
	</header>
	
	<section id="mainBody">
		<div class="container">
			<div class="row">
				<div class="span12" id="tutorialContainer">
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="span2 offset2">
					<section>
					    <h1>Contact</h1>
						<ul>
							<li><a href="mailto:637de15c13674a9e8d6009294483ca26.protect@whoisguard.com">Contact Us</a></li>
							<li><a href="https://www.facebook.com/pages/ShyTap-Community/295241147269655?ref=hl">ShyTap Community</a></li>
						</ul>
					</section>
				</div>
				<div class="span2 offset1">
					<section>
					    <h1>Privacy</h1>
						<ul>
							<li><a href="http://www.shytap.com/about/fb-terms.html">Terms of Service</a></li>
							<li><a href="http://www.shytap.com/about/fb-privacy.html">Privacy Policy</a></li>
						</ul>
					</section>
				</div>
				<div class="span2 offset1">
					<section>
					    <h1>Share</h1>
						<div class="addthis_toolbox addthis_default_style addthis_32x32_style"
								addthis:url="http://www.shytap.com"
								addthis:title="ShyTap"
								addthis:description="Find out if your secret crush likes you too!">
							<a class="addthis_button_preferred_1"></a>
							<a class="addthis_button_preferred_2"></a>
							<a class="addthis_button_preferred_3"></a>
							<a class="addthis_button_preferred_4"></a>
							<a class="addthis_button_compact"></a>
							<a class="addthis_counter addthis_bubble_style"></a>
						</div>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-519d73ff3176f9b6"></script>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="span12" id="copyright">
					Copyright © 2013 ShyTap&nbsp;&nbsp;|&nbsp;&nbsp;Patent pending
				</div>
			</div>
		</div>
	</footer>

	<div id="jDialog"></div>



	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
	<script type="text/javascript" src="//embeddedjavascript.googlecode.com/files/ejs_production.js"></script>
	<script type="text/javascript" src="/scripts/client.js"></script>
	<script type="text/javascript" src="/scripts/jquery.flexslider-min.js"></script>
	
	<script type="text/javascript">
		var myShyTapUser = <%- req.myShyTapUser ? JSON.stringify(req.myShyTapUser) : 'undefined' %>;
		var myMutualTaps = <%- req.myMutualTaps ? JSON.stringify(req.myMutualTaps) : 'undefined' %>;
	</script>
	
	<script type="text/javascript">
		var authenticationError = "<%= req.authenticationError ? req.authenticationError : '' %>";
	
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '<%= app.id %>',
				channelUrl : '<%= url_no_scheme('/channel.html') %>',
				status     : true,  // check login status
				cookie     : false, // enable cookies to allow the server to access the session
				xfbml      : true,  // parse XFBML
				oauth      : true
			});
			// Listen to the auth.login which will be called when the user logs in using the Login button
			//FB.Event.subscribe('auth.login', loginHandler); // Doesn't work
			FB.Canvas.setAutoGrow();
		
			FB.getLoginStatus(function (res) {
				if (res.authResponse && res.status === 'connected') {
					if (!myShyTapUser) {
						loginHandler(res);
						return;
					}
					loadData();
				} else {
					FB.Event.subscribe('auth.statusChange', loginHandler);
					runTutorialInBody();
				}
			});
		};
	
		// Load the SDK Asynchronously
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	
	</script>
	
	
	<% if (google_track_id) { %>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '<%- google_track_id %>']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<% } %>

</body>
</html>
