/* ===== Common ===== */

html {
	background-color: #f1d397;
	width: 100%;
}

body {
	color: #999;
	background-color: #f1d397;
	font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0px;
}

h1 {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

p {
	font-size: 14px;
	margin: 10px;
}

a:link, a:visited {
	color: #3b5998;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}


/* ===== Header ===== */

header {
	background-color: #7abef0;
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(122,190,240,1) 0%,rgba(65,164,234,1) 100%); /* W3C */
	background: -moz-linear-gradient(top, rgba(122,190,240,1) 0%, rgba(65,164,234,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(122,190,240,1) 0%,rgba(65,164,234,1) 100%); /* Chrome10+,Safari5.1+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#41a4ea',GradientType=0 ); /* IE 6-9 */
	box-shadow: 4px 4px 25px 2px #a38c5e;
	border-bottom: 2px solid #2674ad;
	color: #444;
	font-size: 11px;
	margin-bottom: 40px;
	padding: 20px;
	padding-bottom: 20px;
	position: relative;
}

header #logo {
	display: block;
	margin-bottom: 4px;
}

header h1 {
	display: inline-block;
	margin: 4px;
	margin-left: 0px;
	padding: 2px 0 8px;
}

header .tagline {
	font-size: 14px;
}

header div.fb-login-button {
	display: inline-block;
	float: right;
	margin: 10px;
	margin-right: 30px;
}

header .tutorialButton {
	float: right;
	font-size: 12px;
	padding: 2px 12px;
}

header #headerBannerContainer {
	background-color: #eee;
	/* Uncomment to display banner: */
	display: none; /*inline-block;*/
	height: 60px;
	width: 468px;
}


/* ===== Main ===== */

#mainBody {
	min-height: 350px;
}

section.box {
	background-color: #fafafa;
	border: 2px solid #bb800a;
	border-radius: 0 5px 5px 5px;
	box-shadow: 4px 4px 25px 2px #a38c5e;
	margin: 10px;
	min-height: 200px;
	padding: 10px;
	width: 90%;
}

section.box h2 {
	background-color: #fafafa;
	background-image: url("../images/tab_gradient.png");
	background-repeat: repeat-x;
	background-position: top;
	border: 2px solid #bb800a;
	border-bottom: 0px;
	border-top-right-radius: 50px 20px;
	border-top-left-radius: 5px;
	color: #666;
	font-weight: bold;
	left: -12px;
	letter-spacing: 1px;
	margin-bottom: -30px;
	padding: 4px;
	position: relative;
	text-align: center;
	top: -41px;
	width: 100px;
}


/* ===== Footer ===== */

footer {
	background-color: #dfbd78;
	background: background: linear-gradient(to bottom, rgba(223,189,120,1) 0%,rgba(241,211,151,1) 100%); /* W3C */
	background: -moz-linear-gradient(top, rgba(223,189,120,1) 0%, rgba(241,211,151,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(223,189,120,1) 0%,rgba(241,211,151,1) 100%); /* Chrome10+,Safari5.1+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfbd78', endColorstr='#f1d397',GradientType=0 ); /* IE 6-9 */
	border-top: 2px solid #d1ae67;
	color: #b3904a;
	min-height: 100px;
	margin-top: 80px;
	padding: 10px;
	padding-bottom: 20px;
	text-align: center;
}

footer h1 {
	margin-bottom: 20px;
	text-align: left;
}

footer ul {
	margin: 0px;
	margin-bottom: 30px;
}

footer li {
	text-align: left;
	margin: 4px;
}

footer a:link, footer a:visited {
	color: #8e7749;
	font-weight: normal;
}

#copyright {
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 20px;
}


/* ===== Other ===== */

#picture {
	background-position: center 25%;
	background-repeat: no-repeat;
	background-size: 64px;
	display: inline;
	float: left;
	margin-right: 10px;
	margin-bottom: 4px;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

#messagePane {
	background-color: #ff8786;
	border: 1px solid #d36968;
	border-radius: 4px;
	color: #111111;
	display: none;
	font-size: 1.2em;
	max-width: 600px;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 10px;
	top: 2px;
}

#st-search-section {
	float: left;
}

form.search-form {
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	border-radius: 15px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: inset 0 0 5px #bbb;
    -webkit-box-shadow: inset 0 0 5px #bbb;
    -moz-box-shadow: inset 0 0 5px #bbb;
	display: block;
	height: 26px;
	margin: 0px;
	margin-bottom: 10px;
	padding: 4px;
	position: relative;
}

form.search-form input[type="text"] {
	border: 0px;
	background: transparent;
	border-radius: 5px;
	box-shadow: none;
	color: #555555;
	font-size: 16px;
	left: 4px;
	outline: none;
	padding: 3px;
	position: relative;
	top: -1px;
	width: 60%;
}

form.search-form input[type="checkbox"] {
	margin: 0px;
	margin-right: 2px;
}

form.search-form label {
	display: inline;
}

form.search-form input[type="submit"] {
	background: transparent url("../images/search.png") 0 -22px no-repeat;
	border: none;
	cursor: pointer;
	height: 22px;
	position: absolute;
	right: 100px;
	top: 4px;
	width: 22px;
	z-index: 10;
}

form.search-form input[type="submit"]:hover {
	background-position: 0 0;
}

#friendsBox {
	background: #eeeeee;
	border-left: 1px solid #dddddd;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: inline-block;
	font-size: 10pt;
	height: 25px;
	padding-top: 7px;
	padding-left: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 80px;
}

#friendsBox:hover {
	color: #111111;
}

#friendsBox label {
	cursor: pointer;
}

#resultsContainer {
	position: relative;
}

#resultsContainer h3 {
	background-color: #e9e9e9;
	color: #808080;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	text-transform: uppercase;
}

#clearResults, #closeTutorialBtn { 
	background: transparent url("../images/close.png") 0 -18px no-repeat;
	border: none;
	cursor: pointer;
	height: 18px;
	width: 18px;
}

#clearResults {
	display: none;
	position: absolute;
	right: 3px;
	top: 3px;
}

#closeTutorialBtn {
	position: absolute;
	right: 3px;
	top: 3px;
}

#clearResults:hover, #closeTutorialBtn:hover {
	background-position: 0 0;
}

#searchResult li, #tapsContainer li {
	background-color: #fafafa;
	border-bottom: 1px solid #e7e7e7;
	list-style: none;
	min-height: 58px;
	padding: 2px;
	padding-top: 6px;
}

#searchResult li:hover, #tapsContainer li:hover {
	background-color: #E6F0FA;
}

#searchResult img, #tapsContainer img {
	float: left;
	margin-right: 10px;
	margin-left: 4px;
}

#hiddenError {
	clear: both;
	color: #f1d397;
	font-size: 10px;
	display: inline-block;
	margin: 30px;
}

span.name-container {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 4px;
	text-wrap: unrestricted;
	vertical-align: top;
}

#taps-section {
	float: right;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.heart-on, .heart-off {
	background: transparent url("../images/tap_button.png") 0 -88px no-repeat;
	float: right;
	height: 44px;
	margin: 0px;
	width: 44px;
}

.heart-on {
	background-position: 0 -44px;
}

.heart-off {
	background-position: 0 -88px;
}

.heart-on:hover {
	background-position: 0 -88px;
}

.heart-off:hover {
	background-position: 0 -44px;
}

a.mutual {
	background-position: 0 0;
}

#jDialog {
	font-size: 16px;
	overflow: hidden;
}

#jDialog small {
	color: #777;
	display: block;
	font-size: 14px;
	margin-top: 10px;
}

div.ui-tooltip {
	font-size: 12px;	
}

.scroll-button {
	display: none;
}

#tutorialContainer {
	display: none;
}

#tutorialContainer #tutorialDiv {
	background-color: #f3e2c0;
	border: 1px solid #ad8c4a;
	border-radius: 5px;
	box-shadow: 4px 4px 25px 2px #a38c5e;
	color: #8b6a28;
	margin: 20px auto 20px auto;
	max-width: 600px;
	padding: 10px;
	position: relative;
}

#tutorialDiv h2 {
	color: #555;
}

#jDialog #tutorialDiv h2 {
	display: none;
}

#tutorialDiv img {
	border: 1px solid #ad8c4a;
}

#tutorialDiv .tutorialCaption {
	min-height: 120px;
}

#tutorialDiv div.flexslider {
	box-shadow: none;
}

p.text-info {
	font-style: italic;
}



@media screen and (max-width: 768px) {
	
	#messagePane {
		margin: 0px;
		margin-left: 2px;
		margin-right: 2px;
		left: 0px;
		top: 0px;
	}
	
	/* TODO: Disable this on Login page */
	header {
		padding-top: 60px;
	}
	
	header h1 {
		margin-top: 0px;
	}
	
	#picture {
		display: none;
	}
	
	#friendsBox:hover {
		color: #999999;
	}
	
	section.box {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		max-width: none;
		width: 90%;
	}
	
	#st-search-section, #taps-section {
		float: none;
	}
	
	ul#search-options li {
		padding-right: 6px;
		margin-right: 6px;
	}
	
	.scroll-button {
		color: #b18f4c;
		cursor: pointer;
		display: block;
		margin-right: 20px;
		text-align: right;
	}
	
	.heart-on:hover {
		background-position: 0 -44px;
	}
	
	.heart-off:hover {
		background-position: 0 -88px;
	}
	
}
