<% 
if (data && data.length > 0) {
	for (var i in data) {
		var friend = data[i];
%>
		<li>
			<img src="https://graph.facebook.com/<%= friend.uid %>/picture?type=square" alt="<%= friend.name %>"/>
			
			<a href="javascript:void(0)" class="heart-off" onclick="st_tap('<%= friend.uid %>', this);" title="Tap"/>
			
			<span class="name-container">
				<a href="https://www.facebook.com/<%= friend.uid %>" target="_top"><%= friend.name %></a>
			</span>
		</li>
<%
	}
}
%>
