
<div class="container">
	<div class="row">
		<div class="span6">
			<section id="st-search-section" class="clearfix box">
				<h2 onclick="clearSearchResults();">People</h2>
				
				<form name="searchForm" onSubmit="javascript:searchPeople(); return false;" class="search-form">
					<input type="text" id="searchInput" />
					<input type="submit" value="" />
					
					<span id="friendsBox">
						<input type="checkbox" id="chkSearchFriends" checked="checked" />
						<label for="chkSearchFriends">Friends</label>
					</span>
				</form>
		
				<div id="resultsContainer">
					<h3>Friends</h3>
					<input type="button" id="clearResults" title="Clear Search Results" onclick="clearSearchResults();" />
					
					<ul id="searchResult" style="display:hidden;"></ul>
					
					<a id="moreSearchBtn" href="javascript:void(0)" onclick="">More &#8595;</a>
				</div>
			</section>
			<a onclick="scrollToAnchor('topAnchor');" class="scroll-button">&#8593; Back to top</a>
		</div>

		<div class="span6">
			<section id="taps-section" class="clearfix box">
				<a name="tapsAnchor"></a>
				<h2>My Taps</h2>
				<div id="tapsContainer"></div>
			</section>
			<a onclick="scrollToAnchor('topAnchor');" class="scroll-button">&#8593; Back to top</a>	
		</div>
	</div>
</div>