<%
if (data && data.length > 0) {
	for (var i in data) {
		var user = data[i];
%>
	<li>
		<img src="<%= user.picture.data.url %>" alt="<%= user.name %>"/>
		
		<a href="javascript:void(0)" class="heart-off" onclick="st_tap('<%= user.id %>', this);" title="Tap" />
		
		<span class="name-container">
			<a href="https://www.facebook.com/<%= user.id %>" target="_top"><%= user.name %></a>
			<%= user.locale ? '(' + user.locale.substring(3) + ')' : '' %>
		</span>
	</li>
<%
	}
}
%>
