<ul id="tapsUL" class="friends">
<% 
	for (var i in tappedUsers) { 
		var user = tappedUsers[i]; 
		//if (!taps.hasOwnProperty(user.id)) continue; 
%>
	<li>
		<img src="https://graph.facebook.com/<%= user.id %>/picture?type=square" alt="<%= user.name %>" style="float: left;"/>
		
		<a href="javascript:void(0)" class="heart-on <%= (user.mutual ? 'mutual' : '') %>" onclick="st_tap('<%= user.id %>', this);" title="Un-Tap"/>
		
		<span class="name-container">
			<a href="https://www.facebook.com/<%= user.id %>" target="_top"><span class="name-container"><%= user.name %></span></a>
		</span>
	</li>
<% 
	} 
%>
</ul>
