<div id="tutorialDiv">
	<h2>Getting Started</h2>
	<div class="flexslider">
		<ul class="slides">
			<li>
				<div class="tutorialCaption">
					<p>1. This is the People pane. This is where you will be searching for your secret crush. Your friends are shown by default.</p>
				</div>
				<img src="../images/tut/scr_people.png" alt="People screenshot" />
			</li>
			<li>
				<div class="tutorialCaption">
					<p>2. The People pane lets you search for friends or anyone else. Uncheck the Friends checkbox to search in everyone on Facebook.</p>
				</div>
				<img src="../images/tut/scr_search.png" alt="Search screenshot"  />
			</li>
			<li>
				<div class="tutorialCaption">
					<p>3. Now we get to the best part! Once you have found your secret crush, you want to Tap them to see if they have feelings for you too. Tap people by clicking the heart beside their name.</p>
					<p class="text-info">Tip: By Tapping someone you do not reveal your feelings, unless they have Tapped you too!</p>
				</div>
				<img src="../images/tut/scr_tapping.png" alt="Tapping People screenshot" />
			</li>
			<li>
				<div class="tutorialCaption">
					<p>4. Once you've Tapped a person they will appear in the My Taps pane. See the half-filled heart? It means you have declared your feelings for them, but they haven't yet done the same for you.</p>
				</div>
				<img src="../images/tut/scr_my_taps.png" alt="My Taps screenshot" />
			</li>
			<li>
				<div class="tutorialCaption">
					<p>5. If someone you've Tapped happens to Tap you back, the heart fills up completely, and you are notified.</p>
					<p class="text-info">Congratulations! You both had secret crushes on each other!</p>
				</div>
				<img src="../images/tut/scr_mutual_taps.png" alt="Mutual Taps screenshot" />
			</li>
		</ul>
	</div>
</div>