<div id="messagePane" onclick="scrollToAnchor('tapsAnchor');"><!-- Contains messages like mutual tap notification --></div>

<div id="headerBannerContainer"></div>

<div id="picture" style="background-image: url(https://graph.facebook.com/<%= user.id %>/picture?type=normal)"></div>
<h1>Hi <strong id="myName"></strong>,</h1>
<p class="tagline">Tap people by pressing the <span style="font-size:1.5em;">&hearts;</span> beside their name to show romantic interest. Your tap stays completely secret unless the same person taps you back.</p>

<button class="btn btn-primary tutorialButton" onclick="runTutorialInDialog();">Getting Started</button>