body {
	background-color: #E6DEC6;
	color: #4D4841;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
}

header {
	background-color: #79C0F2;
	background: rgb(121,192,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(121,192,242,1) 0%, rgba(81,176,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(121,192,242,1)), color-stop(100%,rgba(81,176,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(121,192,242,1) 0%,rgba(81,176,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(121,192,242,1) 0%,rgba(81,176,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(121,192,242,1) 0%,rgba(81,176,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(121,192,242,1) 0%,rgba(81,176,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79c0f2', endColorstr='#51b0ef',GradientType=0 ); /* IE6-9 */
	border-bottom: 2px solid #567A8F;
	padding: 30px 10px;
}

footer {
	background-color: #BFB594;
	border-top: 2px solid #A29877;
	padding-bottom: 20px;
}

h1 {
	font-size: 60px;
	margin-bottom: 24px;
}

h2 {
	color: #fefefe;
    font-size: 25px;
    letter-spacing: 2px;
    text-shadow: 0 0 4px #567A8F;
}

ul {
	list-style: none;
	margin: 0 25px 10px 25px;
}

li {
	padding: 2px;
}

header a {
	border-bottom: 1px dashed #555;
	color: #555;
}

.main a {
	border-bottom: 1px dashed #A39684;
	color: #4D4841;
	text-decoration: none;
	text-shadow: 0 0 10px #FFFFFF;
}

a:hover {
	border-color: #ffffff;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 0px 20px #000000;
}

footer h2 {
	color: #E8DFC2;
	text-shadow: none;
}

footer a {
	color: #E8DFC2;
	font-size: 18px;
}

span.shy {
	color: #234ca6;
	text-shadow: 0px 0px 3px #aaaaaa;
}

span.tap {
	color: #F2901F;
	text-shadow: 0px 0px 3px #0D3ABF;
}

#logoDiv {
	position: relative;
	height: 160px;
}

#patent {
	font-family: 'IM Fell DW Pica SC',serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

#fbBlob {
	border-width: 0px;
	display: inline-block;
	position: absolute;
	left: 160px;
	top: 60px;
}

#shortDesc {
	font-family: 'Bad Script',cursive;
	font-size: 20px;
	line-height: 26px;
	margin: 30px 6px 6px 6px;
}

#video {
	display: block;
	width: 640px;
	height: 360px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	padding: 2px;
	background-color: #000000;
}

#videoLink {
	display: none;
	font-size: 18px;
}

div.descDiv:nth-of-type(even) {
	text-align: right;
}

p#application {
	font-family: 'Bad Script', cursive;
	font-size: 22px;
	line-height: 34px;
	padding: 40px 10px;
}

p#interested {
	font-size: 35px;
	font-weight: bold;
	line-height: 42px;
	padding-bottom: 40px;
	text-align: center;
}

a#contactUs {
	padding-bottom: 5px;
	white-space: nowrap;
}

small.copyright {
	color: #666;
	display: block;
	margin: 20px auto 20px auto;
	text-align: center;
}

@media (max-width: 767px) {
	body {
		padding: 0px;
	}
	
	div.container {
		padding: 20px;
		padding-top: 0px;
	}
	
	#fbBlob img {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	
	#video {
		display: none;
	}
	
	#videoLink {
		display: inline-block;
		margin: 10px 0px 0px 10px;
	}
	
	div.descDiv:nth-of-type(even) {
		text-align: left;
	}
}