body {
	background-color: #e6dec6;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 800px;
}

h1 {
	margin: 0px;
}

p {
	line-height: 1.5em;
}

p.last-modified {
	color: #666666;
	font-size: 0.8em;
	font-style: italic;
}

a {
	border-bottom: 1px dashed #333333;
	color: #333333;
	padding-bottom: 2px;
	text-decoration: none;
}

a:hover {
	border-color: #777777;
	color: #777777;
}